<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobjob.albaing.mapper.CareerHistoryMapper">

    <insert id="">
        INSERT INTO career_histories
        (career_id, resume_id, career_company_name, career_join_date, career_quit_date, career_job_description, career_is_career)
        VALUES (#{careerId}, #{resumeId}, #{careerCompanyName}, #{careerJoinDate},#{careerQuitDate},
                #{careerJobDescription}, #{careerIsCareer})

    </insert>

</mapper>