<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobjob.albaing.mapper.EducationHistoryMapper">
<!--    //학력 insert-->
    <insert id="insertEducationHistory">
        INSERT INTO education_histories
        (education_id,resume_id, edu_degree, edu_status, edu_school, edu_major,
         edu_admission_year,edu_graduation_year)
        VALUES (#{educationId}, #{resumeId}, #{eduDegree}, #{eduStatus}, #{eduSchool},
                #{eduMajor},#{eduAdmissionyear},#{eduGraduationYear})
    </insert>
</mapper>