<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobjob.albaing.mapper.JobApplicationMapper">

<!--    사용자 공고 지원-->
    <insert id="userApplyForJob">
    INSERT INTO JOB_APPLICATIONS (
        job_application_id,
        job_post_id,
        resume_id,
        application_at,
        approve_status
    ) VALUES (
              #{jobApplicationId},
                     #{jobPostId},
                     #{resumeId},
                    #{applicationAt},
                    #{approveStatus}
                 )
    </insert>


<!--    지원한 공고 조회 -->
    <select id="getJobApplications">
        SELECT *
        FROM JOB_APPLICATIONS
        WHERE resume_id = #{resumeId}
    </select>


<!--    지원 상태별 조회-->
    <select id="getJobApplicationStatus">
        SELECT *
        FROM JOB_APPLICATIONS
        WHERE resume_id = #{resumeId}
        AND approve_status = #{approveStatus}
    </select>
</mapper>