<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobjob.albaing.mapper.ScrapMapper">

    <!-- 스크랩 추가 -->
    <insert id="insertScrap">
        INSERT INTO scraps (user_id, job_post_id, scrap_created_at, scrap_is)
        VALUES (#{userId}, #{jobPostId}, NOW(), true)
    </insert>


    <!--이미 스크랩한 공고인지 확인-->
    <select id="checkScrap">
        SELECT COUNT(*) > 0
        FROM scraps
        WHERE user_id = #{userId}
          AND job_post_id = #{jobPostId}
          AND scrap_is = TRUE
    </select>

    <!-- 스크랩 삭제 -->
    <delete id="deleteScrap">
        DELETE
        FROM scraps
        WHERE user_id = #{userId}
          AND job_post_id = #{jobPostId}
    </delete>

    <!-- 특정 사용자의 스크랩 목록 조회 (공고 제목, 회사 이름 포함) -->
    <select id="getScrapsByUser">
        SELECT
            s.scrap_id,
            s.user_id,
            s.job_post_id,
            jp.company_id,
            s.scrap_created_at,
            s.scrap_is,
            jp.job_post_title,
            c.company_name
        FROM scraps s
                 LEFT JOIN job_posts jp ON s.job_post_id = jp.job_post_id
                 LEFT JOIN companies c ON jp.company_id = c.company_id
        WHERE s.user_id = #{userId}
          AND s.scrap_is = TRUE
    </select>

</mapper>